* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    padding: 2em;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 2em;
}

h1, p {
    color: #380B61;
}

/* Agrupamento de campos lado a lado */
fieldset.grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border: none;
    margin-bottom: 1em;
}

/* Campo individual */
.campo {
    flex: 1 1 300px;
    margin-bottom: 1em;
}

/* Rótulo dos campos */
.campo label {
    display: block;
    margin-bottom: 0.3em;
}

/* Estilo base para todos os elementos de formulário */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
    border: 1px solid #59429d;
}

/* Inputs de texto, e-mail, select e textarea */
.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    width: 100%;
    padding: 0.5em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#descricao {
    min-height: 150px;
    resize:both ;
}

/* Destaque ao focar em campos */
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #E0E0F8;
    outline: 2px solid #59429d;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

/* Checkbox ampliado */
input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 0.5em;
}

/* Botão de envio */
.botao {
    font-size: 1.2em;
    background: #59429d;
    color: #fff;
    padding: 0.4em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/* Efeito ao passar o mouse no botão */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
